<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>source</key>
	<dict>
		<key>method</key>
		<string>git</string>
		<key>url</key>
		<string>git://github.com/loranger/laravel.tmbundle</string>
	</dict>
	<key>contactEmailRot13</key>
	<string>ynheragt@tznvy.pbz</string>
	<key>contactName</key>
	<string>Laurent Goussard</string>
	<key>name</key>
	<string>PHP Laravel</string>
	<key>uuid</key>
	<string>BFD74D71-3606-4C19-A1B7-0A340875D65C</string>
	<key>description</key>
	<string>Laravel 4 Bundle

Blade language grammar is bases on https://github.com/Medalink/laravel-blade</string>
	<key>mainMenu</key>
	<dict>
		<key>excludedItems</key>
		<array>
			<string>B35CFA4D-972C-462E-8118-E48C12AF6015</string>
		</array>
		<key>items</key>
		<array>
			<string>CDD61A5F-4582-4E02-A873-F5712BE15740</string>
			<string>3ED84500-826D-4734-AB5C-994925F5B5E2</string>
			<string>05BBDA5B-80A3-4A40-8B44-704C4D217001</string>
			<string>D053AAAB-AC4B-463D-A0E9-68C37CB355BA</string>
			<string>85011916-5C94-4FAB-A700-1A324689571B</string>
			<string>77A45FC9-8256-47E3-BB7D-6417B0D1F590</string>
			<string>------------------------------------</string>
			<string>043B225A-AD20-4E40-89A0-6AD09E9B29A2</string>
            <string>------------------------------------</string>
			<string>E916DC16-CE82-4807-B1ED-5A4013AB3183</string>
			<string>BCAAC332-7BC1-466D-9763-841D1B52E2E0</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>043B225A-AD20-4E40-89A0-6AD09E9B29A2</key>
			<dict>
				<key>items</key>
				<array>
					<string>389275C0-6039-4EF7-BEFD-393323CBB00F</string>
                    <string>------------------------------------</string>
                    <string>6090DFA3-9588-43A5-8C0F-E076B244EBC3</string>
                    <string>CBA97516-B7C1-4C38-9575-38A9B15A1611</string>
				</array>
				<key>name</key>
				<string>Helpers</string>
			</dict>
			<key>389275C0-6039-4EF7-BEFD-393323CBB00F</key>
			<dict>
				<key>items</key>
				<array>
					<string>B44BEE4E-8C12-456D-9E38-8D8D08AB1200</string>
					<string>5D62B062-7106-4AC6-94E8-43A5A03E17C8</string>
					<string>36474677-06AD-44BA-A70B-522B95EDD786</string>
					<string>3EEC519F-7158-4601-9704-55BB85DE974D</string>
					<string>DF3FBAFE-7B6F-437B-A426-20C42DCD8B7B</string>
					<string>C655A8D6-9352-4985-ADC5-9E1252B3DEBD</string>
					<string>59090AA7-05DD-429B-BB0F-7D9014741208</string>
					<string>14CFCD1E-2AD3-468C-A5A9-7EF41DE3537F</string>
					<string>76FEB6C7-0155-419E-979E-0FA25660CF37</string>
					<string>9D12ADB1-65F6-4767-9725-7C1DD14893E3</string>
				</array>
				<key>name</key>
				<string>URLs</string>
			</dict>
			<key>CDD61A5F-4582-4E02-A873-F5712BE15740</key>
			<dict>
				<key>items</key>
				<array>
					<string>9C50E655-6BF2-4F25-95E5-03DCD6CEFE03</string>
					<string>------------------------------------</string>
					<string>CDC7CFDD-FC85-4928-990B-2BC4EEDA7E01</string>
					<string>EDADD256-C40C-48E8-BC70-CB0A13B5EB84</string>
				</array>
				<key>name</key>
				<string>App</string>
			</dict>
			<key>77A45FC9-8256-47E3-BB7D-6417B0D1F590</key>
			<dict>
				<key>items</key>
				<array>
					<string>1A07A380-5131-481F-A5C4-C1CFD4D8F79E</string>
					<string>------------------------------------</string>
					<string>9DBDA9C8-CC54-4039-A20F-8E4C46F9E505</string>
					<string>BBB5ABED-92BD-4D43-8B14-40F579B40486</string>
					<string>A75C6A77-3336-4059-A6AC-2F7C9A98F262</string>
					<string>57B15FE4-965B-4683-ADFA-9AD595C9FC89</string>
					<string>------------------------------------</string>
					<string>E019FAEC-C75B-4A34-81FA-B07A966D1FA7</string>
				</array>
				<key>name</key>
				<string>View</string>
			</dict>
            <key>3ED84500-826D-4734-AB5C-994925F5B5E2</key>
            <dict>
                <key>items</key>
                <array>
                    <string>36D12BEF-BEB4-45EE-B201-85EEA2715DD2</string>
                    <string>------------------------------------</string>
                    <string>0505B785-502F-4945-AB67-24885C2757AF</string>
                    <string>AB63D739-3D1F-465B-88FD-060778E37651</string>
                    <string>B29BFBBE-2600-41B7-8713-EC5317C0BC2E</string>
                </array>
                <key>name</key>
                <string>Redirect</string>
            </dict>
            <key>85011916-5C94-4FAB-A700-1A324689571B</key>
            <dict>
                <key>items</key>
                <array>
                    <string>E46ABE8F-2D48-4970-AAFC-9A043CEC81E0</string>
                    <string>03356633-3768-4218-8383-1E79E821A4AF</string>
                    <string>31EB9F7D-FC7A-4C19-9F5F-86B66C28A488</string>
                    <string>1E30FBB5-462C-4F8A-B006-0C7416CDBAFA</string>
                    <string>3F4865D5-B13C-42AC-B207-9D46BF522834</string>
                    <string>93B98D3A-7BEA-4089-8E5A-5BE158F3707A</string>
                    <string>D1262041-E331-4CB7-9958-7E957502AF4A</string>
                    <string>85CEC8F6-D5BD-4712-9B1A-AE32A195ADA0</string>
                    <string>219544EF-FAB2-421B-AC0D-AC0F78220D1C</string>
                    <string>DA7792EB-6134-4EC0-B4D4-633842E86C78</string>
                    <string>EF6D8F4F-2F74-4726-8C26-BDD77A1D6AAF</string>
                    <string>AADCEEDB-8FA7-4572-9760-6EE3A6EFC772</string>
                    <string>917884B6-FA3C-4E32-82D5-C12BA5B32411</string>
                    <string>A5C90A2E-86B9-4D28-A7D7-9E3757DCC1C4</string>
                </array>
                <key>name</key>
                <string>URL</string>
            </dict>
			<key>05BBDA5B-80A3-4A40-8B44-704C4D217001</key>
			<dict>
				<key>items</key>
				<array>
					<string>3CE640C6-1327-4503-9EA4-7E7EAC4BAC5B</string>
					<string>------------------------------------</string>
					<string>ECAC0880-2CA7-459B-AD46-568A40D3427A</string>
					<string>B064669D-8F91-47A3-89A6-E3BCF50C637E</string>
					<string>251AC95A-6D42-43DB-9C91-E39960D15079</string>
					<string>241F3B23-BC6E-4CF8-8BBC-4B23C4FBF6BE</string>
					<string>90815832-C0BF-46E7-BBA4-A2E58C709CED</string>
					<string>------------------------------------</string>
					<string>ECE92CB4-5530-4FA9-B9AC-019621C8264E</string>
					<string>756DB6D4-AA47-4142-96C3-0BF584E49BE7</string>
				</array>
				<key>name</key>
				<string>Response</string>
			</dict>
			<key>D053AAAB-AC4B-463D-A0E9-68C37CB355BA</key>
			<dict>
				<key>items</key>
				<array>
					<string>9CC01A4C-BDC3-482C-90D7-63D32BC3D05D</string>
					<string>------------------------------------</string>
					<string>7DC3E991-0B40-40E4-A0AF-4DE2E27DD4EF</string>
					<string>7BDA361A-CE8A-4BE4-BBC2-A221161D0C5D</string>
					<string>D8886DE8-D08D-4E03-B7A7-9288952CAC1D</string>
					<string>78019393-1A99-4567-B1B0-78BA486765D0</string>
					<string>973DA384-DC45-4367-AB7B-0D0C60C222DA</string>
					<string>FCF779B3-B9F4-4C00-9986-08B4384E64EB</string>
					<string>14DA72DB-A99D-4217-A3EF-87F68AB8447E</string>
					<string>4E3AA8DA-A282-4F89-81BB-96877B8E2FA7</string>
				</array>
				<key>name</key>
				<string>Route</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
